.image-responsive {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 24px;
}

.portfolioImages {
 float: left; 
 display: block;
 overflow: hidden;
 position: relative;
} 
